body {
    background-color: var(--secondary-color);
}

.card {
    border: 1px solid var(--light-gray);
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    background-color: var(--white);
}

.card-header {
    background-color: var(--primary-color);
    color: var(--white);
    border-bottom: 1px solid var(--light-gray);
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color) !important;
} 